.venv/
__pycache__/
*.pyc

# Data files — tracked by DVC, not Git
data/ratings.dat
data/movies.dat

# But DO allow DVC pointer files
!data/*.dvc
!data/.gitignore

# Model files — tracked by DVC, not Git
/models/*.pkl
/models/*.pt
/models/*.h5

# But DO allow DVC pointer files
!/models/*.dvc
!/models/.gitignore

.dvc/cache/
mlruns/


# Mac system files
.DS_Store

# Anaconda
anaconda_projects/